footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 10px;
    background-color: var(--violet);
    color: var(--gray);
    margin-top: 50px;
}

footer > .used-articles > ul {
    padding: 0 50px;
}

footer > .used-articles {
    display: flex;
}

footer > .used-articles > ul > li > a {
    color: var(--gray);
}
