* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:link {
    text-decoration: none;
}

a:hover, a:active{
    color: whitesmoke;
}